body {
  font-size: 14px;
}

.part1 {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 620px;
  width: 100%;
  background-position: fixed;
}

.info1>img {
  position: relative;
  top: 170px;
  left: 500px;
  padding-bottom: 20px;
}

.info1>h2 {
  position: relative;
  top: 170px;
  left: 440px;
  padding-bottom: 5px;
  color: white;
}

.info1>h2>span {
  position: relative;
  left: -80px;
}

.info1>p {
  position: relative;
  top: 170px;
  left: 300px;
  padding-bottom: 10px;
  color: white;
}

#img2 {
  position: relative;
  top: 320px;
  left: 540px;
}

.part2, .part4, .part6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2, h4, h6 {
  text-transform: uppercase;
}

.part3 {
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 290px;
  width: 100%;
  background-position: relative;
}

.part3>h4 {
  position: relative;
  top: 90px;
  color: white;
}

.part3>p {
  position: relative;
  top: 90px;
  color: white;
}

.part4 p {
  display: none;
}

.part4>h2, .part5>h2 {
  padding-bottom: 10px;
}

.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8 {
  height: 180px;
  width: 50px;
}

.work img {
  height: 90%;
  width: 90%;
}

.work {
  margin-left: 130px;
  margin-right: 110px;
}

#p4, #p5, #p6, #p7, #p6, #p7, #p8, #p9, #p10, #p11 {
  margin-left: 50px;
  margin-top: 40px;
}

.part6 {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  padding-top: 30px;
  padding-bottom: 80px;
}

.part6>h2 {
  color: white;
}

form {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 30px;
}

#input1, #input2, #input3 {
  background-color: transparent;
  color: white;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: 0 0 3px #ccc;
}

.form-control::placeholder {
  color: white;
  opacity: 1;
}

.icons {
  padding-bottom: 20px;
  padding-top: 20px;
}

.para {
  background-color: rgba(250, 250, 250, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: -84%;
  opacity: 0;
}
